.nav {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.nav-logo > a {
  text-decoration: none;
}

.nav-logo > a:hover {
  text-decoration: none;
}

.nav-item > a {
  text-decoration: none;
}

.nav-item > a:hover {
  text-decoration: none;
}

.header {
  margin: 0 auto;
  padding-bottom: 25px;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: center;
  margin: 0 auto;
  color: #5f6368;
}